<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DSP</title>
   <!--   Bootstrap Core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Custom CSS  -->
    <link rel="stylesheet" href="/css/campaign.css">
   
    
  </head>
  <body>
    <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="Logout" class="navbar-brand">Sign Out</a>
        </div>
      </div>
    </nav>

    
    <% campaign.forEach(function (campaign){ %>
    <div class = "campaign" >
    <p> Title: <%= campaign.title %></p>
    <p> Budget: <%= campaign.budget %></p>
    <p> tags: <%= campaign.tags %></p>
    <div class = "upload">
    <form class = "upload" method = "post" action ="formcreatives">
      <input hidden name = "campaignId" value = <%=campaign.id %> >
      <input type="submit" name="submit" value="Upload Creative" class="btn"/>
    </form>
  </div>
    <div class = "view">
      <input hidden name = "campaignId" value = <%=campaign.id %> >
      <button type="submit" name="submit" onclick = "location.href = 'creatives/' + <%= campaign.id%>"value="View Creatives" class="btn"/>View</button>
  </div>
  <div class = "edit">
     <form method = "post" action ="edit-campaigns">
      <input hidden name = "campaignId" value = <%=campaign.id %> >
      <input type="submit" name="submit" value="Edit Campaign" class="btn"/>
    </form>
    </div>
    </div>
    <% }) %>

 
  </body>
</html>

